body {
  background-color: cornsilk;
}
.category-list {
  background-color: darkblue;
  padding: 10px;
}
a.category-link {
  color: wheat;
}
.category-link.active {
  color: azure;
}
.sort-picker {
  padding-left: 10px;
}
.sort-picker select  {
  margin-left: 10px;
}
.post-list {
  margin-left: 50px;
}
hr {
  margin-right: 50px;
  border-color: blue;
}
.icon {
  background-size: 25px;
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 15px;
}
.delete {
  background-image: url("/delete.png");
  vertical-align: bottom;
}
.edit {
  background-image: url("/edit.png");
  vertical-align: bottom;
}
.up {
  background-image: url("/up.png");
  margin-left: 5px;
  vertical-align: middle;
}
.down {
  background-image: url("/down.png");
  margin-left: 5px;
  vertical-align: middle;
}
.post-header h3 {
  display: inline;
}
.vote-area {
  margin-left: 35px;
}
.comment {
    background: gainsboro;
    margin: 10px;
    border-radius: 10px;
    padding: 5px 10px;
}
.comment .vote-area {
  margin-left: 0px;
}